<section class="skills section" id="about">
    <p-toast></p-toast>
    <h2 class="section-title">About</h2>

    <div class="skills__container bd-grid">
        <div>
            <img src="../../assets/Images/Picture1.jpg" class="skills__img" alt="" width="50%" style="margin-left:5rem">
        </div>
        <div style="text-align: center;">
            <p class="mt-0 text-700 line-height-3">

                I'm <span class="font-bold">Aadarsh Prajapati</span>, a Software Engineer at CRISIL Limited. Experienced in Angular, Spring Boot, and
                Java, I specialize in developing robust applications and creating reusable components for front-end and
                back-end functionalities.
            </p>
            <br>
            <p class="mt-0 text-700 line-height-3">
                Passionate about web development, cloud computing, and AI/ML, I'm dedicated to leveraging technology for
                organizational success. Let's connect on <a href="https://www.linkedin.com/in/aadarsh-prajapati-2437825/"
                target="_blank">LinkedIn</a> for potential collaborations.
            </p>
            <br>
            <p class="mt-0 text-700 line-height-3">
                Feel free to reach out via email at <a
                href="mailto:k.aadarsh06@gmail.com">k.aadarsh06&#64;gmail.com</a> or call at (+91) 8375803649 for
            engaging discussions and exciting challenges.
            </p>
            <br>
            <button pButton pRipple label="Download CV" icon="pi pi-download" type="button"
                class="mr-3 p-button-raised custom-color-button custom-align"  (click)="downloadResume()"></button>
            <button (click)="scrollToContact()" pButton pRipple label="Say Hello" icon="pi pi-phone" type="button"
                class="p-button-outlined custom-color-button-font custom-align-bottom"></button>
        </div>
    </div>
</section>