<section class="work section" id="work">
    <h2 class="section-title" style="margin: 0;">Work</h2>

    <div class="skills__container bd-grid">
        <div>
            <p class="mt-0 text-700 line-height-3" style="text-align: center;">
                Experienced Software Engineer and former Software Engineer Intern at CRISIL Limited, Hyderabad.
                Developed web applications using Angular, PrimeNG, GOJS, and Spring Boot. Known for optimizing
                development processes and improving system performance.
            </p>
        </div>
        <div>
            <img src="../../assets/Images/output-onlinegiftools.gif" alt="" style=" transform: scaleX(-1);">
        </div>
    </div>
    <div class="bd-grid">
        <p-panel header="Experience" [toggleable]="true" [collapsed]="true">
            <div class="experience-card" style="border: 1px solid rgb(8, 121, 191);">
                <div class="experience-card-logo-div">
                    <img class="experience-card-logo" src="../../assets/Images/CRISIL_logo.jpg" alt="">
                </div>
                <div class="experience-card-body-div">
                    <div class="experience-card-header-div">
                        <div class="experience-card-heading-left">
                            <h3 class="experience-card-title" style="color: rgb(0, 28, 85);">Software Engineer</h3>
                            <p class="experience-card-company" style="color: rgb(0, 28, 85);"><a
                                    href="https://www.crisil.com/" target="_blank" rel="noopener noreferrer"
                                    style="color: rgb(0, 28, 85);">CRISIL Limited</a></p>
                        </div>
                        <div class="experience-card-heading-right">
                            <p class="experience-card-duration" style="color: rgb(0, 28, 85);">Aug 2023 - Present</p>
                            <p class="experience-card-location" style="color: rgb(0, 28, 85);">Hyderabad, Telangana</p>
                        </div>
                    </div>
                    <p class="experience-card-description" style="color: rgb(0, 28, 85);">I specialized in Angular development, crafting reusable components to accelerate the development process. I also created APIs for efficient system communication and implemented an EJS-based code generator, significantly reducing development time.</p>
                    <div>
                        <p-chip [label]="'Angular'" icon="fa-brands fa-angular" class="small-chip"></p-chip>
                        <p-chip [label]="'Rest API'" icon="fa-solid fa-code" class="small-chip"></p-chip>
                        <p-chip [label]="'EJS'" icon="fa-brands fa-js" class="small-chip"></p-chip>
                    </div>
                </div>
            </div>
        </p-panel>
        <p-panel header="Internship" [toggleable]="true" [collapsed]="true">
            <div class="experience-card" style="border: 1px solid rgb(8, 121, 191);">
                <div class="experience-card-logo-div">
                    <img class="experience-card-logo" src="../../assets/Images/CRISIL_logo.jpg" alt="">
                </div>
                <div class="experience-card-body-div">
                    <div class="experience-card-header-div">
                        <div class="experience-card-heading-left">
                            <h3 class="experience-card-title" style="color: rgb(0, 28, 85);">Software Engineer Intern</h3>
                            <p class="experience-card-company" style="color: rgb(0, 28, 85);"><a
                                    href="https://www.crisil.com/" target="_blank" rel="noopener noreferrer"
                                    style="color: rgb(0, 28, 85);">CRISIL Limited</a></p>
                        </div>
                        <div class="experience-card-heading-right">
                            <p class="experience-card-duration" style="color: rgb(0, 28, 85);">Jan 2023 - July 2023</p>
                            <p class="experience-card-location" style="color: rgb(0, 28, 85);">Hyderabad, Telangana</p>
                        </div>
                    </div>
                    <p class="experience-card-description" style="color: rgb(0, 28, 85);">I specialized in Angular reactive forms, creating a reusable dynamic component JSON-to-form converter. I also gained hands-on experience with GOJS for graphical representation, and I'm proficient in DDD+CQRS patterns, applying them in agile practices.</p>
                    <div>
                        <p-chip [label]="'Angular'" icon="fa-brands fa-angular" class="small-chip"></p-chip>
                        <!-- <p-chip [label]="'PrimeNG'" icon="pi pi-prime" class="small-chip"></p-chip> -->
                        <p-chip [label]="'GOJS'" icon="fa-brands fa-js" class="small-chip"></p-chip>
                        <p-chip [label]="'Spring Boot'" icon="fa-brands fa-java" class="small-chip"></p-chip>
                        <!-- <p-chip [label]="'Apache Camel'" icon="pi pi-microsoft" class="small-chip"></p-chip> -->
                        <!-- <p-chip [label]="'Azure DevOps'" icon="pi pi-code" class="small-chip"></p-chip> -->
                    </div>
                </div>
            </div>
        </p-panel>
    </div>
</section>